<div class="show-reviews mt-5">
    <div class="review-wrapper w-sm-100 w-75 mx-auto">
        <h2 class="text-center mb-3">Reviews</h2>
        <%= turbo_frame_tag "reviews" do %>
            <%= render @reviews %>
        <% end %>
        
        <% if user_signed_in? %>
            <%= turbo_frame_tag 'review_button' do %>
                <%= render 'new_review_button' %>
            <% end %>
        <% end %>

        <%= turbo_frame_tag Review.new %>
    </div>
</div>