<!-- main content starts -->
<main class="container-fluid">
    <div class="row">
        
        <!-- render sidebar -->
        <%= render 'shared/sidebar' %>
        <!-- sidebar ends -->

        <!-- main content starts -->
        <div class="col-lg-6 vstack gap-4">
    
            <!-- row starts -->
            <div class="row">
                <!-- individual listing starts -->
                <% @listings.each do |listing| %>
                    <div class="col-md-4 mb-3">
                        <%= link_to listing, data: { turbo: "false" } do %>
                            <div class="card shadow border-0 position-relative">
                                <% if listing.wishlists_count > 0 %>
                                    <div class="position-absolute btn btn-sm btn-light z-3 rounded-circle" style="right: 15px; top: 10px;">
                                        <i class="bi bi-heart-fill text-danger"></i>
                                    </div>
                                <% end %>
                                <div class="swiper">

                                    <!-- listing image starts -->
                                    <div class="swiper-wrapper">
                                        <% if listing.listing_photos.any? %>
                                            <% listing.listing_photos.each do |photo| %>
                                                <%= image_tag photo.photo, class: 'card-img-top swiper-slide' %>
                                                
                                            <% end %>
                                        <% else %>
                                            <%= image_tag 'apartment1.jpg', class: 'card-img-top' %>
                                        <% end %>
                                    </div>
                                    <!-- listing image ends -->
                                    <!-- listing info starts -->
                                    <!-- If we need navigation buttons -->
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                                
                                <div class="card-body pb-0">
                                    <h6 class="card-title m-0"><%= listing.title %></h6>
                                    <p class="card-text m-0">
                                        <small>
                                            <p class="m-0">
                                                <%= listing.average_rating %>
                                                <i class="bi bi-star-fill"></i>
                                            </p>
                                            <p class="m-0 text-muted">
                                                55 kilometers away
                                            </p>
                                            <p class="m-0 text-muted">
                                                June 24 - Dec 31
                                            </p>
                                            <p class="m-0">
                                                <span class="fw-bold">$30</span>
                                                
                                                <span class="text-muted">
                                                    per night
                                                </span>
                                            </p>
                                        </small>
                                    </p>
                                </div>
                                <!-- listing info ends -->

                            </div>
                        <% end %>
                    </div>
                <% end %>
                <!-- individual listing ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- main content ends -->
    </div>
</main>
<!-- main content ends -->