<main class="container bg-white shadow-sm my-3">
    <!-- main content start -->
    <div class="h-100 py-3">
        <!-- header starts -->
        <%= link_to sanitize("&larr; Back to listings"), listings_path, data: { turbo: false } %>
        <div class="p-3 header d-flex justify-content-between align-items-center mt-2 fw-bold">
            <h1 class="h2 card-title"><%= @listing.title %></h1>

            <!-- perform the ff actions if user is signed in -->
            <% if user_signed_in? %>
                <small>
                    <div>
                        <%= link_to '#', class: "me-2 text-dark" do %>
                            <i class="bi bi-share fs-6"></i>
                            Share
                        <% end %>

                        <%# render reviews information %>
                        <%= render 'listings/show_average_reviews' %>
                        
                        <!-- wishlist button starts -->
                        <%= render 'wishlists/wishlist_button', wishable: @listing %>
                        <!-- wishlist button ends -->

                        <!-- edit listing, rooms and bed if host id == listing id -->
                        <% if @listing.host == current_user %>
                            <%= link_to edit_host_listing_path(@listing), class: "text-dark me-2" do %>
                                <i class="bi bi-pencil-square  fs-6"></i>
                                Edit listing
                            <% end %>

                            <%= link_to new_host_listing_room_path(@listing), class: "text-dark" do %>
                                <i class="bi bi-plus-square fs-6"></i>
                                Add rooms and beds
                            <% end %>
                        <% end %>
                    </div>
                </small>
            <% end %>
        </div>
        <!-- header ends -->

        <!-- listing image starts -->
        <section class="photo-gallery position-relative mb-3">
            <% if @listing.listing_photos.count >= 3 %>
                <div class="row mb-4 gallery-grid">
                    <!-- Flickity HTML init -->
                    <div class="carousel p-0" data-flickity='{ "wrapAround": true, "autoPlay": true }'>
                        <% @listing.listing_photos.each do |photo| %>
                            <%= image_tag photo.photo, class: 'carousel-cell' %>
                        <% end %>
                    </div>
                </div>
            <% elsif @listing.listing_photos.count >= 1 %>
                <div class="image">
                    <%= image_tag @listing.listing_photos.first.photo, class: "listing-show-img" %>
                </div>
            <% else %>
                <%= image_tag 'apartment1.jpg', class: 'listing-show-img' %>
            <% end %>

            <!-- Photos button start -->
            <%= link_to listing_listing_photos_path(@listing), class: 'position-absolute btn btn-sm btn-light border border-black fs-6', style:"right: 140px; bottom: 10px;" do %>
                <i class="bi bi-images"></i>
                See all photos
            <% end %>
            <%= link_to edit_host_listing_path(@listing), class: 'position-absolute btn btn-sm btn-light border border-black fs-6', style:"right: 10px; bottom: 10px;" do %>
                <i class="bi bi-file-earmark-plus"></i>
                Add photos
            <% end %>
            <!-- Photos button end -->
        </section>
        <!-- listing image ends -->

        <!-- listing body starts -->
        <div class="row listing-body">
            <div class="col-md-8">
                
                <h5><i class="bi bi-geo-alt-fill"></i> <%= @listing.listing_type.capitalize %> in <%= @listing.city %>, <%= @listing.country %></h5>

                <h5 class="mt-4 mb-2">
                    About this listing
                </h5>
                <div class="p-4 border rounded">
                    <% if @listing.about.present? %>
                        <p>
                            <%= simple_format(@listing.about) %>
                        </p>
                    <% end %>
                </div>

                <h5 class="mt-4 mb-2">
                    Suitable for
                </h5>
                <div class="p-4 border rounded">
                    <% if @listing.suitabilities.present? %>
                        <h6>Suitable for</h6>
                        <ul>
                            <% @listing.suitabilities.each do |suitability| %>
                                <li><%= suitability.name.capitalize %></li>
                            <% end %>
                        </ul>
                    <% end %>
                </div>

                <h5 class="mt-4 mb-2">
                    Facilities and Amenities
                </h5>
                <div class="p-4 border rounded">
                    <div class="row">
                        <!-- listing facilities -->
                        <div class="col-md-6">
                            <% if @listing.facilities.present? %>
                                <h6>Facilities</h6>
                                <ul>
                                    <% @listing.facilities.each do |facility| %>
                                        <li><%= facility.name.capitalize %></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </div>

                        <!-- listing amenities -->
                        <div class="col-md-6">
                            <% if @listing.amenities.present? %>
                                <h6>Amenities</h6>
                                <ul>
                                    <% @listing.amenities.each do |amenity| %>
                                        <li><%= amenity.name.capitalize %></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </div>
                    </div>
                </div>

                <!-- render listing rooms if present -->
                <% if @listing.rooms.present? %>
                    <div class="d-flex align-items-center mt-4 mb-2">
                        <h5 class="card-title">Rooms</h5>
                    </div>
                    <div class="row">
                        <% @listing.rooms.each do |room| %>
                            <div class="col-md-4">
                                
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <h5 class="card-title"><%= room.room_type %></h5>  <small class="info ms-2"><%= link_to 'edit room', edit_host_listing_room_path(@listing, room) %></small>
                                        </div>
                                        <% if room.beds.present? %>
                                            <hr>
                                            <ul>
                                                <% room.beds.each do |bed| %>
                                                    <li><%= bed.bed_size %> bed</li>
                                                <% end %>
                                            </ul>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
                
                <!-- listing reviews section starts -->
                <%= render 'listings/listing_reviews' %>
                <!-- listing review section ends -->
            </div>

            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body p-4">
                        <h5 class="card-title">$10</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <%= link_to 'Check availability', '#', class: "btn btn-lg btn-dark w-100" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  main content ends -->
</main>
