<h1><%= @listing.title %></h1>
<p><%= @listing.max_guests %></p>
<%= link_to 'New room', new_host_listing_room_path(@listing) %>
<p><%= link_to 'edit', edit_host_listing_path(@listing) %></p>
<p><%= link_to 'delete', host_listing_path(@listing), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></p>