<div id="wishlist_button" class="d-inline-block">
    <% if user_signed_in? %>

        <% wishlist = current_user.wishlists.find_by(wishable: wishable) %>

        <% if wishlist.nil? %>

            <%= form_with model: [Wishlist.new], method: :post do |f| %>
                <%= f.hidden_field :wishable_id, value: wishable.id %>
                <%= f.hidden_field :wishable_type, value: wishable.class.to_s %>
                
                <%= f.button class: "border-0 bg-white" do %>
                    <i class="bi bi-heart fs-6"></i>
                    <%= wishable.wishlists_count %>
                <% end %>
            <% end %>
        <% else %>
            <%= form_with url: wishlist_path(wishlist), method: :delete do |f| %>
                
                <%= f.button class: "border-0 bg-white" do %>
                    <i class="bi bi-heart-fill text-danger fs-6"></i>
                    <%= wishable.wishlists_count %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</div>
