<%= form_with model: [:host, listing, room] do |f| %>

   
    <div class="mb-3">
        <%= f.label :room_type %>
        <%= f.select :room_type, Room.room_types.keys.map{ |key| [key.humanize.upcase, key] }, { include_blank: "Select room type", selected: room.room_type }, class: "form-control rounded-0" %>
    </div>
   
    <div class="mb-3">
        <%= f.label :number_of_room %>
        <%= f.number_field :number_of_room, class: "form-control" %>
    </div>

    <h2 class="h4 my-3">
        Add beds
    </h2>

    <%= f.submit :submit, class: "btn btn-primary"  %>
<% end %>