<div data-controller="nested-form">

    <%= form_with model: [:host, listing, room] do |f| %>
    
        <div class="mb-3">
            <%= f.label :room_type %>
            <%= f.select :room_type, Room.room_types.keys.map{ |key| [key.humanize.capitalize, key] }, { include_blank: "Select room type", selected: room.room_type }, class: "form-control rounded-0" %>
        </div>
    
        <div class="mb-3">
            <%= f.label :number_of_room %>
            <%= f.number_field :number_of_room, class: "form-control" %>
        </div>

        <h2 class="h4 my-3">
            Add beds
        </h2>
        <hr>

        <!--  custom logic for rooms nested form -->
        <template data-nested-form-target="template">
            <%= f.fields_for :beds, Bed.new, child_index: 'NEW_RECORD' do |bed_fields| %>
                <%= render "host/rooms/room_bed_form", f: bed_fields %>
            <% end %>
        </template>

        <%# unless f.object.new_record? %>
            <%= f.fields_for :beds do |bed_fields| %>
                <%= render "host/rooms/room_bed_form", f: bed_fields %>
            <% end %>
        <%# end %>


        <!-- Inserted elements will be injected before that target. -->
        <div data-nested-form-target="target"></div>
        
        <button type="button" class="btn btn-sm btn-info mt-3" data-action="nested-form#add"><i class="bi bi-plus fs-6"></i>New bed</button>

        <div class="mt-3">
            <%= f.submit :submit, class: "btn btn-primary"  %>
        </div>
    <% end %>
</div>
