<div class="nested-form-wrapper d-flex justify-content-between align-items-center" data-new-record="<%= f.object.new_record? %>">

    <div class="w-100 me-2">
        <%= f.label :bed_size %>
        <%= f.select :bed_size, Bed.bed_sizes.keys.map{ |key| [key.humanize.capitalize, key] }, { include_blank: "Select bed size", selected: @bed.bed_size }, class: "form-control" %>
    </div>

    <div class="w-100 me-2">
        <%= f.label :number_of_bed %>
        <%= f.number_field :number_of_bed, class: "form-control" %>
    </div>

    <div class="w-100">
        <button type="button" class="btn btn-sm btn-danger" data-action="nested-form#remove">Remove bed</button>
    </div>

    <%= f.hidden_field :_destroy %>
</div>
